* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: pink;
}

.header {
    background-color: purple;
    text-align: center;
    padding: 200px 50px;
    color: white;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 100px;
    
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Dosis', sans-serif;
    letter-spacing: 8px;
    font-size: 50px;
}

p {
    color: rgb(31, 30, 30);
}

.nav {
    background-color: purple;
    float: right; 
    padding: 20px 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

li {
    display: inline-block;
    list-style: none;
}

.header2 {
    background-color: purple;
    text-align: center;
    padding: 100px 50px;
    color: white;
}

.about {
    padding: 50px 100px;
}

.contact {
    padding: 50px 100px;
    text-align: center;
}